/*
 * Copyright (c) 2015 MediaTek Inc.
 * Author: Erin.Lo <erin.lo@mediatek.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/mt2701-clk.h>
#include "skeleton64.dtsi"
#include "mt2701-pinfunc.h"

/ {
	compatible = "mediatek,mt2701";
	interrupt-parent = <&gic>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x0>;
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x1>;
		};
		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x2>;
		};
		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x3>;
		};
	};

	clocks {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		system_clk: dummy13m {
			compatible = "fixed-clock";
			clock-frequency = <13000000>;
			#clock-cells = <0>;
		};

		rtc_clk: rtc32k {
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			#clock-cells = <0>;
		};

		uart_clk: clk26m {
			compatible = "fixed-clock";
			clock-frequency = <26000000>;
			#clock-cells = <0>;
		};
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>;
		clock-frequency = <13000000>;
		arm,cpu-registers-not-fw-configured;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		topckgen: syscon@10000000 {
			compatible = "mediatek,mt2701-topckgen", "syscon";
			reg = <0 0x10000000 0 0x1000>;
			#clock-cells = <1>;
		};

		infracfg: syscon@10001000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt2701-infracfg", "syscon";
			reg = <0 0x10001000 0 0x1000>;
			#clock-cells = <1>;

			infrarst: reset-controller@30 {
				#reset-cells = <1>;
				compatible = "mediatek,mt2701-infracfg-reset", "mediatek,reset";
				reg = <0x30 0x8>;
			};
		};

		pericfg: syscon@10003000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt2701-pericfg", "syscon";
			reg = <0 0x10003000 0 0x1000>;
			#clock-cells = <1>;
		};

		mmsys: syscon@14000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "mediatek,mt2701-mmsys", "syscon";
			reg = <0 0x14000000 0 0x1000>;
			#clock-cells = <1>;
		};

		pio: pinctrl@10005000 {
			compatible = "mediatek,mt2701-pinctrl";
			reg = <0 0x1000b000 0 0x1000>;
			mediatek,pctl-regmap = <&syscfg_pctl_a>;
			pins-are-numbered;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 113 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 115  IRQ_TYPE_LEVEL_HIGH>;
		};

		syscfg_pctl_a: syscfg_pctl_a@10005000 {
			compatible = "mediatek,mt2701-pctl-a-syscfg", "syscon";
			reg = <0 0x10005000 0 0x1000>;
		};

		toprgu: toprgu@10007000 {
			compatible = "mediatek,mt2701-rgu";
			reg = <0 0x10007000 0 0x1000>;
			interrupts = <GIC_SPI 88 IRQ_TYPE_EDGE_FALLING>;
		};

		pwrap: pwrap@1000d000 {
			compatible = "mediatek,mt2701-pwrap";
			reg = <0 0x1000d000 0 0x1000>;
			reg-names = "pwrap-base";
			interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
		};

		intpol: intpol@10200100 {
			compatible = "mediatek,mt6577-intpol";
			reg = <0 0x10200100 0 0x1c>;
		};

		apmixedsys: syscon@10209000 {
			compatible = "mediatek,mt2701-apmixedsys", "syscon";
			reg = <0 0x10209000 0 0x1000>;
			#clock-cells = <1>;
		};

		gic: interrupt-controller@10211000 {
			compatible = "arm,cortex-a7-gic";
			interrupt-controller;
			#interrupt-cells = <3>;
			reg = <0 0x10211000 0 0x1000>,
			      <0 0x10212000 0 0x1000>,
			      <0 0x10214000 0 0x2000>,
			      <0 0x10216000 0 0x2000>;
		};

		uart0: serial@11002000 {
			compatible = "mediatek,mt2701-uart","mediatek,mt6577-uart";
			reg = <0 0x11002000 0 0x400>;
			interrupts = <GIC_SPI 51 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		uart1: serial@11003000 {
			compatible = "mediatek,mt2701-uart","mediatek,mt6577-uart";
			reg = <0 0x11003000 0 0x400>;
			interrupts = <GIC_SPI 52 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		uart2: serial@11004000 {
			compatible = "mediatek,mt2701-uart","mediatek,mt6577-uart";
			reg = <0 0x11004000 0 0x400>;
			interrupts = <GIC_SPI 53 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		uart3: serial@11005000 {
			compatible = "mediatek,mt2701-uart","mediatek,mt6577-uart";
			reg = <0 0x11005000 0 0x400>;
			interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&uart_clk>;
		};

		spi0: spi@1100a000 {
			compatible = "mediatek,mt2701-spi";
			reg = <0 0x1100a000 0 0x100>;
			interrupts = <GIC_SPI 78 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&pericfg CLK_PERI_SPI0>, <&pericfg CLK_PERI_AP_DMA>;
			clock-names = "main", "dma";
			cell-index = <0>;
			status = "disabled";
		};

		spi1: spi@11016000 {
			compatible = "mediatek,mt2701-spi";
			reg = <0 0x11016000 0 0x100>;
			interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&pericfg CLK_PERI_SPI1>, <&pericfg CLK_PERI_AP_DMA>;
			clock-names = "main", "dma";
			cell-index = <1>;
			status = "disabled";
		};

		spi2: spi@11017000 {
			compatible = "mediatek,mt2701-spi";
			reg = <0 0x11017000 0 0x1000>;
			interrupts = <GIC_SPI 142 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&pericfg CLK_PERI_SPI2>, <&pericfg CLK_PERI_AP_DMA>;
			clock-names = "main", "dma";
			cell-index = <2>;
			status = "disabled";
		};

		i2c0: i2c@11007000 {
			compatible = "mediatek,mt6577-i2c";
			reg = <0 0x11007000 0 0x70>,
			      <0 0x11000200 0 0x80>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&pericfg CLK_PERI_I2C0>, <&pericfg CLK_PERI_AP_DMA>;
			clock-names = "main", "dma";
			status = "disabled";
		};

		i2c1: i2c@11008000 {
			compatible = "mediatek,mt6577-i2c";
			reg = <0 0x11008000 0 0x70>,
			      <0 0x11000280 0 0x80>;
			interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&pericfg CLK_PERI_I2C1>, <&pericfg CLK_PERI_AP_DMA>;
			clock-names = "main", "dma";
			status = "disabled";
		};

		i2c2: i2c@11009000 {
			compatible = "mediatek,mt6577-i2c";
			reg = <0 0x11009000 0 0x70>,
			      <0 0x11000300 0 0x80>;
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_LOW>;
			clock-div = <16>;
			clocks = <&pericfg CLK_PERI_I2C2>, <&pericfg CLK_PERI_AP_DMA>;
			clock-names = "main", "dma";
			status = "disabled";
		};

		m4u: M4U@0x10205000 {
			compatible = "mediatek,mt2701-m4u";
			reg = <0 0x10205000 0 0x1000>,
				<0 0x1000c000 0 0x1000>; /* SMI COMMON AO */
			interrupts = <GIC_SPI 106 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_M4U>,
					<&infracfg CLK_INFRA_SMI>;
			clock-names = "infra_m4u", "infra_smi";
		};

		DISP_CONFIG: dispsys@14000000 {
			compatible = "mediatek,DISP_CONFIG";
			reg = <0 0x14000000 0 0x1000>;
			clock-count = <0>;
		};

		DISP_MDP_RDMA: dispsys@14001000 {
			compatible = "mediatek,DISP_MDP_RDMA";
			reg = <0 0x14001000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_MDP_RDMA>;
			clock-names = "CLK_MM_MDP_RDMA";
		};

		DISP_MDP_RSZ0: dispsys@14002000 {
			compatible = "mediatek,DISP_MDP_RSZ0";
			reg = <0 0x14002000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_MDP_RSZ0>;
			clock-names = "CLK_MM_MDP_RSZ0";
		};

		DISP_MDP_RSZ1: dispsys@14003000 {
			compatible = "mediatek,DISP_MDP_RSZ1";
			reg = <0 0x14003000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_MDP_RSZ1>;
			clock-names = "CLK_MM_MDP_RSZ1";
		};

		DISP_MDP_WDMA: dispsys@14004000 {
			compatible = "mediatek,DISP_MDP_WDMA";
			reg = <0 0x14004000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_MDP_WDMA>;
			clock-names = "CLK_MM_MDP_WDMA";
		};

		DISP_MDP_WROT: dispsys@14005000 {
			compatible = "mediatek,DISP_MDP_WROT";
			reg = <0 0x14005000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_MDP_WROT>;
			clock-names = "CLK_MM_MDP_WROT";
		};

		DISP_MDP_TDSHP: dispsys@14006000 {
			compatible = "mediatek,DISP_MDP_TDSHP";
			reg = <0 0x14006000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_MDP_TDSHP>;
			clock-names = "CLK_MM_MDP_TDSHP";
		};

		DISP_OVL: dispsys@14007000 {
			compatible = "mediatek,DISP_OVL";
			reg = <0 0x14007000 0 0x1000>;
			interrupts = <GIC_SPI 153 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_DISP_OVL>;
			clock-names = "CLK_MM_DISP_OVL";
		};

		DISP_RDMA0: dispsys: dispsys@14008000 {
			compatible = "mediatek,DISP_RDMA0";
			reg = <0 0x14008000 0 0x1000>;
			interrupts = <GIC_SPI 152 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_DISP_RDMA>;
			clock-names = "CLK_MM_DISP_RDMA";
		};

		DISP_WDMA: dispsys@14009000 {
			compatible = "mediatek,DISP_WDMA";
			reg = <0 0x14009000 0 0x1000>;
			interrupts = <GIC_SPI 154 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_DISP_WDMA>;
			clock-names = "CLK_MM_DISP_WDMA";
		};

		DISP_BLS: dispsys@1400a000 {
			compatible = "mediatek,DISP_BLS";
			reg = <0 0x1400a000 0 0x1000>;
			interrupts = <GIC_SPI 155 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <2>;
			clocks = <&mmsys CLK_MM_DISP_BLS>,
					 <&mmsys CLK_MM_MDP_BLS_26M>;
			clock-names = "CLK_MM_DISP_BLS",
						  "CLK_MM_MDP_BLS_26M";
		};

		DISP_COLOR: dispsys@1400b000 {
			compatible = "mediatek,DISP_COLOR";
			reg = <0 0x1400b000 0 0x1000>;
			interrupts = <GIC_SPI 156 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_DISP_COLOR>;
			clock-names = "CLK_MM_DISP_COLOR";
		};

		DISP_DSI: dispsys@1400c000 {
			compatible = "mediatek,DISP_DSI";
			reg = <0 0x1400c000 0 0x1000>;
			interrupts = <GIC_SPI 157 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <2>;
			clocks = <&mmsys CLK_MM_DSI_ENGINE>,
					 <&mmsys CLK_MM_DSI_DIG>;
			clock-names = "CLK_MM_DSI_ENGINE",
						  "CLK_MM_DSI_DIG";
		};

		DISP_DPI0: dispsys@1400d000 {
			compatible = "mediatek,DISP_DPI0";
			reg = <0 0x1400d000 0 0x1000>;
			interrupts = <GIC_SPI 158 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <2>;
			clocks = <&mmsys CLK_MM_DPI_DIGL>,
					 <&mmsys CLK_MM_DPI_ENGINE>;
			clock-names = "CLK_MM_DPI_DIGL",
						  "CLK_MM_DPI_ENGINE";
		};

		DISP_MUTEX: dispsys@1400e000 {
			compatible = "mediatek,DISP_MUTEX";
			reg = <0 0x1400e000 0 0x1000>;
			interrupts = <GIC_SPI 161 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <2>;
			clocks = <&mmsys CLK_MM_MUTEX_32K>,
					 <&mmsys CLK_MM_MUTEX>;
			clock-names = "CLK_MM_MUTEX_32K",
						  "CLK_MM_MUTEX";
		};

		DISP_CMDQ: dispsys@1400f000 {
			compatible = "mediatek,DISP_CMDQ";
			reg = <0 0x1400f000 0 0x1000>;
			interrupts = <GIC_SPI 159 IRQ_TYPE_LEVEL_LOW>,
						<GIC_SPI 160 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_CLK_MM_CMDQ>;
			clock-names = "CLK_MM_CLK_MM_CMDQ";
		};

		DISP_SMI_LARB0: dispsys@14010000 {
			compatible = "mediatek,DISP_SMI_LARB0";
			reg = <0 0x14010000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_SMI_LARB0>;
			clock-names = "CLK_MM_SMI_LARB0";
		};

		DISP_SMI_COMMON: dispsys@14011000 {
			compatible = "mediatek,DISP_SMI_COMMON";
			reg = <0 0x14011000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_SMI_COMMON>;
			clock-names = "CLK_MM_SMI_COMMON";
		};

		DISP_RDMA1: dispsys@14012000 {
			compatible = "mediatek,DISP_RDMA1";
			reg = <0 0x14012000 0 0x1000>;
			interrupts = <GIC_SPI 164 IRQ_TYPE_LEVEL_LOW>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_DISP_RMDA1>;
			clock-names = "CLK_MM_DISP_RMDA1";
		};

		DISP_UFOE: dispsys@14013000 {
			compatible = "mediatek,DISP_UFOE";
			reg = <0 0x14013000 0 0x1000>;
			clock-count = <1>;
			clocks = <&mmsys CLK_MM_DISP_UFOE>;
			clock-names = "CLK_MM_DISP_UFOE";
		};

		DISP_DPI1: dispsys@14014000 {
			compatible = "mediatek,DISP_DPI1";
			reg = <0 0x14014000 0 0x1000>;
			clock-count = <2>;
			clocks = <&mmsys CLK_MM_DPI1_DIGL>,
					 <&mmsys CLK_MM_DPI1_ENGINE>;
			clock-names = "CLK_MM_DPI1_DIGL",
						  "CLK_MM_DPI1_ENGINE";
		};

		DISP_HDMI: dispsys@14015000 {
			compatible = "mediatek,DISP_HDMI";
			reg = <0 0x14015000 0 0x1000>;
			clock-count = <4>;
			clocks = <&mmsys CLK_MM_HDMI_PIXEL>,
					 <&mmsys CLK_MM_HDMI_PLL>,
					 <&mmsys CLK_MM_HDMI_AUDIO>,
					 <&mmsys CLK_MM_HDMI_SPDIF>;
			clock-names = "CLK_MM_HDMI_PIXEL",
						  "CLK_MM_HDMI_PLL",
						  "CLK_MM_HDMI_AUDIO",
						  "CLK_MM_HDMI_SPDIF";
		};

		DISP_LVDS: dispsys@14016000 {
			compatible = "mediatek,DISP_LVDS";
			reg = <0 0x14016000 0 0x1000>;
			clock-count = <0>;
		};

		DISP_TVE: dispsys@14017000 {
			compatible = "mediatek,DISP_TVE";
			reg = <0 0x14017000 0 0x1000>;
			clock-count = <3>;
			clocks = <&mmsys CLK_MM_TVE_OUTPUT>,
					 <&mmsys CLK_MM_TVE_INPUT>,
					 <&mmsys CLK_MM_TVE_FMM>;
			clock-names = "CLK_MM_TVE_OUTPUT",
						  "CLK_MM_TVE_INPUT",
						  "CLK_MM_TVE_FMM";
		};

		DISP_MIPI: dispsys@10010000 {
			compatible = "mediatek,DISP_MIPI";
			reg = <0 0x1001000 0 0x1000>;
			clock-count = <3>;
			clocks = <&topckgen CLK_TOP_MIPIPLL>,
					 <&topckgen CLK_TOP_MIPIPLL_D2>,
					 <&topckgen CLK_TOP_MIPIPLL_D4>;
			clock-names = "CLK_TOP_MIPIPLL",
						  "CLK_TOP_MIPIPLL_D2",
						  "CLK_TOP_MIPIPLL_D4";
		};

		MTKFB: dispsys {
			compatible = "mediatek,MTKFB";
			reg = <0 0x80000000 0 0x40000000>;
		};

		sound:sound@11220000 {
			compatible = "mediatek,mt2701-soc-machine";
			#address-cells = <2>;
			#size-cells = <2>;
			 reg = <0 0x11220000 0 0x2000>,
				<0 0x112A0000 0 0x20000>;
			interrupts = <GIC_SPI 104 IRQ_TYPE_LEVEL_LOW>,
				<GIC_SPI 132 IRQ_TYPE_LEVEL_LOW>;

			clocks = <&infracfg CLK_INFRA_AUDIO>,
				<&topckgen CLK_TOP_AUD_MUX1_SEL>,
				<&topckgen CLK_TOP_AUD_MUX2_SEL>,
				<&topckgen CLK_TOP_AUDPLL_MUX_SEL>,
				<&topckgen CLK_TOP_APLL_SEL>,
				<&topckgen CLK_TOP_AUD1PLL_98M>,
				<&topckgen CLK_TOP_AUD2PLL_90M>,
				<&topckgen CLK_TOP_HADDS2PLL_98M>,
				<&topckgen CLK_TOP_HADDS2PLL_294M>,
				<&topckgen CLK_TOP_AUDPLL>,
				<&topckgen CLK_TOP_AUDPLL_D4>,
				<&topckgen CLK_TOP_AUDPLL_D8>,
				<&topckgen CLK_TOP_AUDPLL_D16>,
				<&topckgen CLK_TOP_AUDPLL_D24>,
				<&topckgen CLK_TOP_AUDINTBUS_SEL>;

			clock-names = "infra_sys_audio_clk",
					"top_audio_mux1_sel",
					"top_audio_mux2_sel",
					"top_audpll_mux_sel",
					"top_apll_sel",
					"top_aud1_pll_98M",
					"top_aud2_pll_90M",
					"top_hadds2_pll_98M",
					"top_hadds2_pll_294M",
					"top_audpll",
					"top_audpll_d4",
					"top_audpll_d8",
					"top_audpll_d16",
					"top_audpll_d24",
					"top_audintbus_sel";

		};
		mediatek,dummy_codec {
			compatible = "mediatek,dummy-codec";
		};
		mediatek,mt8590_audio {
			compatible = "mediatek,mt2701-audio";
		};
		mediatek,mt8590_dai {
			compatible = "mediatek,mt2701-dai";
		};
		mediatek,pcm1861 {
			compatible = "mediatek,pcm1861";
		};
		mediatek,pcm5102a {
			compatible = "mediatek,pcm5102a";
		};
	};
};
